.env

app/spring-boot/target/
app/spring-boot/build/

app/spring-boot/.mvn/wrapper/maven-wrapper.jar

!app/spring-boot/src/main/**/target/
!app/spring-boot/src/test/**/target/
!app/spring-boot/src/main/**/build/
!app/spring-boot/src/test/**/build/


### STS (Eclipse) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
